# SYSTEM
.Rhistory
.Rproj.user
repo.Rproj
.RData

**/.ipynb_checkpoints
**/.DS_Store
**/Icon
**/__pycache__
**/.egg-info

**/_HIDE
**/hidden
**/tmp
**/Untitled*.ipynb


# CONTENT
**/austen-melville*
**/cookiecutter.png 

lessons/00_TO_ADD
!lessons/M02
lessons/M03
lessons/M04*
lessons/M06*
lessons/M07*
lessons/M08*
lessons/M09*
lessons/M10*
lessons/M11*
lessons/M12*
lessons/M13*
lessons/M14*
lessons/M15*
lessons/M16*
lessons/M14_PythonModules/demo_package3/funniest.egg-info/top_level.txt
lessons/M14_PythonModules/demo_package3/funniest.egg-info/SOURCES.txt
lessons/M14_PythonModules/demo_package3/funniest.egg-info/PKG-INFO
lessons/M14_PythonModules/demo_package3/funniest.egg-info/dependency_links.txt